<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages" *ngIf="isError">
          <li>{{ errorMessage }}</li>
        </ul>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                formControlName="articleTitle"
                type="text"
                class="form-control form-control-lg"
                placeholder="Article Title"
                name="articleTitle"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="articleDescription"
                type="text"
                class="form-control"
                placeholder="What's this article about? (Maximum 20 symbols)"
                name="articleDescription"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                formControlName="articleBody"
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
                articleDescription="articleBody"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="articleTags"
                type="text"
                class="form-control"
                placeholder="Enter tags"
                name="articleTags"
              />
              <div class="tag-list"></div>
            </fieldset>
            <button type="submit" class="btn btn-lg pull-xs-right btn-primary">
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
